declare lower;
input fundamentalType = FundamentalType.OHLC4;
script fixnan{
    input source = close;
    def fix = if !isNaN(source) then source else fix[1];
    plot result = fix;
}
script fixnanMultiply{
    input s1 = close;
    def fix1 = if !isNaN(s1) then s1 else fix1[1];
    input s2 = close;
    def fix2 = if !isNaN(s2) then s2 else fix2[1];
    plot result = fix1 * fix2;
}

def callMetric =
    {% for option in call_codes %}(fixnan(volume(".{{ option }}")) * fixnan(Fundamental(fundamentalType,".{{ option }}"))) +
    {% endfor %} 0;
def putMetric =
    {% for option in put_codes %}(fixnanMultiply(volume(".{{ option }}"), Fundamental(fundamentalType,".{{ option }}"))) +
    {% endfor %} 0; # Trailing zero saves the day

plot Calls = if SecondsFromTime(935) >= 0 then callMetric else 0;
Calls.SetPaintingStrategy(PaintingStrategy.SQUARED_HISTOGRAM);
Calls.AssignValueColor(Color.UPTICK);

plot Puts = if SecondsFromTime(935) >= 0 then -1.0 * putMetric else 0;
Puts.SetPaintingStrategy(PaintingStrategy.SQUARED_HISTOGRAM);
Puts.AssignValueColor(Color.DOWNTICK);

plot NetMetric = Calls + Puts;
NetMetric.AssignValueColor(Color.WHITE);